<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-06-03T10:52:59Z</date>
	<key>WorkspacePath</key>
	<string>/Users/truong.nguyen3/Documents/_work_samples/video-player/video-player.xcodeproj</string>
</dict>
</plist>
